/output*
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc

# Causes corruption error with git
package/jack2/0001-Update-to-waf-2-0-26.patch 

# macOS metadata
**/.DS_Store
src_phy/public/pdfs/Statistics-WEB.pdf
src_phy/public/pdfs/Precalculus_2e-WEB.pdf
src_phy/public/pdfs/Prealgebra2e-WEB_0qbw93r.pdf
src_phy/public/pdfs/Physics-WEB_Sab7RrQ.pdf
src_phy/public/pdfs/IntermediateAlgebra2e-WEB_RlpFLLx.pdf
src_phy/public/pdfs/ElementaryAlgebra2e-WEB_3zxfu3Z.pdf
src_phy/public/pdfs/College_Physics_for_AP_Courses_2e-WEB_DkhNbxV.pdf
src_phy/public/pdfs/College_Physics_2e-WEB_7Zesafu.pdf
src_phy/public/pdfs/College-Algebra-Corequisite-Support-2e-WEB.pdf
src_phy/public/pdfs/College-Algebra-2e-WEB.pdf
src_phy/public/pdfs/ChemistryAtomsFirst2e-WEB.pdf
src_phy/public/pdfs/Chemistry2e-WEB.pdf
src_phy/public/pdfs/Algebra_1_-_WEB.pdf
src_phy/public/pdfs/Algebra-and-Trigonometry-2e-WEB.pdf
